div.container   { width: 840px; }
h1, h2, h3, h4, h5, h6 {font-weight: normal!important;}
h1 + p.date     { font-style: italic; }
pre, code, tt   { font-family: 'Consolas', 'Deja Vu Sans Mono',
                  'Bitstream Vera Sans Mono', 'Monaco', 'Courier New';
                  font-size: 0.82em; }
pre             { line-height: 1.3; margin:0px; }
code, tt        { display: inline-block;
                  position:relative;
                  top: -1px;
                  padding: 1px 4px;
                  margin: 0 0 5px;
                  font-size: 12px;
                  line-height: 18px;
                  background-color: whiteSmoke;
                  border: 1px solid #CCC;
                  border: 1px solid rgba(0, 0, 0, 0.15);
                  -webkit-border-radius: 4px;
                  -moz-border-radius: 4px;
                  border-radius: 4px;
                  white-space: pre;
                  white-space: nowrap;
                  word-break: break-all; }
cite            { font-style:italic!important; }

/* navbar */
.navbar         { margin: 0 -16px;}

/* footer */
footer          { font-size: 15px!important;
                  margin-top: 45px;
                  padding: 35px 0 36px;
                  border-top: 1px solid #E5E5E5;}
footer p        { margin: 0px;}
.quick-links    { min-height: 30px;
                  padding: 0;
                  margin: 0;
                  list-style: none;
                  text-align: left;
                  overflow: hidden;}
.quick-links li { display: inline-block;}
/* tables */
table           { border: 1px solid #ddd; border-collapse: collapse;
                  background: #fafafa; }
td, th          { padding: 2px 12px; border: 1px solid #ddd; }

.follow-btn, .tweet-btn { padding: 0 5px 0 0;
                          position: relative; top:5px; }
.pull-right     { padding: 5px 0px 0px 0px;}

/* footnotes */
table.footnote          { margin: 15px 0; background: transparent; border: none; }
table.footnote td       { border: none; padding: 9px 0 0 0; font-size: 15px; }
table.footnote td.label { padding-right: 10px; }
table.footnote td p     { margin: 0; }
table.footnote td p + p { margin-top: 15px; }

/* blog overview */
div.entry-overview                  { margin: 25px 0; }
div.entry-overview h1,
div.entry-overview div.summary,
div.entry-overview div.summary p    { display: inline; line-height: 25px; }
div.entry-overview h1               { margin: 0; font-size: 20px; }
div.entry-overview div.summary,
div.entry-overview div.date,
div.entry-overview div.summary p    { margin: 0; padding: 0; }
div.entry-overview div.detail       { margin-left: 140px; }
div.entry-overview div.comments     { margin-left: 140px; font-size:85%;
                                      font-style: normal; color: #888;}
div.entry-overview div.date         { float: left; width: 120px; color: #888;
                                      text-align: right; font-style: italic; }
div.entry-overview h1:after         { content: " —"; }
div.note p.first                    { display:none;}
div.note p                          { margin: 5px 0 5px 10px; padding:0 10px;
                                      font-size: 85%; }
div.note blockquote                 { font-size: 85%;
                                      padding: 0 40px!important;
                                      margin: 5px!important;}
div.note                            { border: 1px solid #ddd; padding:0;
                                      border-radius:3px;
                                      margin: 10px 0; }
blockquote                          { margin: 10px 0; padding:0 0 0 10px!important; }
blockquote dl.docutils              { margin: 0;}
blockquote dl.docutils dt           { font-weight: bold; margin: 0 0 5px 0;}
blockquote dl.docutils dd           { margin: 5px 0 0 25px;}

/* other alignment things */
img.align-center        { margin: 15px auto; display: block; }

/* pagination */
div.pagination          { margin: 36px 0 0 0; text-align: center; }
div.pagination strong   { font-weight: normal; font-style: italic; }

/* tags */
p.tags          { text-align: right; font-style: italic; }
ul.tagcloud     { font-size: 16px; margin: 36px 0; padding: 0;
                  list-style: none; }
ul.tagcloud li  { margin: 0; padding: 0 10px; display: inline; }

/* latex math */
span.math img   { margin-bottom: -7px; }

/* disqus */

div#dsq-account-dropdown {
font-family: 'Cuprum', 'Georgia', serif;
font-weight: normal;
color: #222;
font-size: 1.17em;
}

div#dsq-account-dropdown a { color: #222; text-decoration: none; font-family: 'Helvetica Neue', 'Helvetica', Alial, sans-serif }
div#dsq-subscribe li a     { font-size: 75%; }
div#dsq-subscribe          { display: none; }
a.dsq-brlink               { display: none; }
div.dsq-comment-footer a   { font-weight: 700; font-size: 70%; }
div.dsq-comment-footer a:hover   { color: #222!important; }
div.dsq-comment-message    { margin: 0px; }